
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');

@media screen {
    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rgb(125, 0, 251);
        height: 100vh;
        width: 100vw;
    }

    header, footer {
        display: flex;
        justify-content: space-evenly;
        color: pink;
        position: fixed;
        padding-bottom: 1rem;
        left: 0;
        right: 0;
    }

    header {
        top: 0;
    }

    header > p, footer > p {
    font-size: 2rem;
    text-align: center;
    letter-spacing: 1.5;
    }

    footer {
        bottom: 0;
    }

    a {
        color: pink;
        font-size: 2rem;
        text-align: center;
        line-height: 1.5rem;
        text-transform: uppercase;
    }

    p {
        font-size: 1rem;;
    }

    p, .number {
        font-family:'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
        font-weight: 200;
        color: pink;
        margin-top: 1rem;
        text-transform: uppercase;
    }

    .number {
        font-size: 0.8rem;
    }

    ol {
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    button {
        font-family: "Bellefair", serif;
        font-weight: 200;
        font-style: normal;
        margin: 0;
    }

    button .designer {
        display: none;
    }

    button:hover .author {
        display:none;
    }

    button:hover .designer {
        display: inline;
        color: rgb(77, 255, 0);
    }
}

@media (min-width: 700px) {
        a {
            font-size: 4rem;
            line-height: 3rem;
        }

        header> p, footer > p {
            font-size: 1rem;
            margin-top: 1.1rem;
        }
    }