

:root {
    --font-size: 1rem;
    --color: black;

    --gutter: calc(var(--font-size) * 2);
}

@media (min-width: 600px) {
    :root {
        --font-size: 1.5rem;

        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

    body {
        font-size: var(--font-size);
        padding-top: calc(var(--font-size) * 3);
        padding-left: calc(var(--font-size) * 3);
        display: flex;
        flex-direction: column;
        row-gap: var(--gutter);
    }

    h1 {
        color: pink;
        font-size: calc(var(--font-size) * 2);
    }
}